/* general styling */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* main section */

.container {
    width: 375px;
    margin: 0 auto;
}

header {
    margin: 16px 0;
}

.profile-header,
.header-container,
.profile-footer {
    margin: 10px;
}

header .container {
    border-bottom: 1px solid #c4c4c4;
}

.divider {
    height: 25px;
    margin-top: 15px;
    background-color: #EDEDED;
}

/* images */

.logo {
    width: 125px;
    height: 30px;
}

.icon {
    transition: .1s ease;
    width: 20px;
    height: 20px;
    margin: 0 20px 10px 0;
}

.icon:hover {
    width: 25px;
    height: 25px;
}

header .avatar,
main .avatar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
}

header .avatar{
    float: right;
}

main .avatar {
    float: left;
}

.profile-header .avatar {
    margin-right: 10px;
}

.vg-painting{
    height: 375px;
    width: 375px;
}

/* typography */

h2, 
h3,
p {
    margin: 0;
}

h2,
h3 {
    font-size: 13px;
}


p {
    font-size: 12px;
}

.profile-footer h2{
    margin-bottom: 10px;
}

.profile-footer .username{
    display: inline;
}

.profile-footer .user-comment{
    display: inline;
    margin-bottom: 0;
}

